{% extends "layout.html" %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="/">Home </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a>
    </li>
{% endblock nav %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Translator Sunda - Indonesia</h5>
        <p class="card-text">Website ini adalah website untuk melakukan penerjemahan 
            dari bahasa Indonesia ke bahasa Sunda atau dari bahasa Sunda ke bahasa Indonesia. Website 
            ini dibuat untuk memenuhi tugas seleksi asisten Lab Irk.
        </p>

        <p>Website ini dibuat dengan menggunakan Flask, Python, HTML, dan Bootstrap.
        </p>
        <p class="card-text"><small class="text-muted">Yahya</small></p>
        <p class="card-text"><small class="text-muted">13518029</small></p>
    </div>
</div>
{% endblock content %}