{% extends "layout.html" %}
{% block nav %}
    <li class="nav-item active">
        <a class="nav-link" href="/">Home </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a>
    </li>
{% endblock nav %}

{% block content %}
    <form action="/" method = "POST" enctype="multipart/form-data">
        <fieldset>
            <legend>Algoritma : </legend>
            <div class="form-check">
                {% if method == 'bm' %}
                    <input type="radio" class="form-check-input" name = "method" id="algorithm1" value="bm" checked>
                {% else %}
                    <input type="radio" class="form-check-input" name = "method" id="algorithm1" value="bm">
                {% endif %}
                <label class = "form-check-label" for="algorithm1">
                    Boyer-Moore 
                </label>
            </div>
            <div class="form-check">
                {% if method == 'kmp' %}
                <input type="radio" class="form-check-input" name = "method" id="algorithm2" value="kmp" checked>
                {% else %}
                <input type="radio" class="form-check-input" name = "method" id="algorithm2" value="kmp">
                {% endif %}
                <label class = "form-check-label" for="algorithm2">
                    KMP
                </label>
            </div>
            <div class="form-check">
                {% if method == 'regex' %}
                    <input type="radio" class="form-check-input" name = "method" id="algorithm3" value="regex" checked>
                {% else %}
                    <input type="radio" class="form-check-input" name = "method" id="algorithm3" value="regex">
                {% endif %}
                <label class = "form-check-label" for="algorithm3">
                    Regex
                </label>
            </div>
            <br>
            
        </fieldset>

        <legend>Bahasa : </legend>
            <div class="form-check">
                {% if language == 'indo' %}
                    <input type="radio" class="form-check-input" name = "language" id="algorithm1" value="indo" checked>
                {% else %}
                    <input type="radio" class="form-check-input" name = "language" id="algorithm1" value="indo">
                {% endif %}
                <label class = "form-check-label" for="algorithm1">
                    Indonesia - Sunda
                </label>
            </div>
            <div class="form-check">
                {% if language == 'sunda' %}
                    <input type="radio" class="form-check-input" name = "language" id="algorithm1" value="sunda" checked>
                {% else %}
                    <input type="radio" class="form-check-input" name = "language" id="algorithm1" value="sunda">
                {% endif %}
                <label class = "form-check-label" for="algorithm2">
                    Sunda - Indonesia
                </label>
            </div>
        
        <div class="form-group">
            <label>
                Kata : 
            </label>
            {% if kata %}
                <input type="text" class="form-control" name = "kata" value="{{kata}}" required>
            {% else %}
                <input type="text" class="form-control" name = "kata" required>
            {% endif %}
        </div>
        <input type="submit" value="Translate" >
    </form>

    <div class="card">
        <div class="card-body">
            {% if language == 'sunda' %}
            <h3 class="card-title border-bottom">Sunda - Indonesia</h3>
            {% elif language == 'indo' %}
            <h3 class="card-title border-bottom">Indonesia - Sunda</h3>
            {% else %}
            <h3 class="card-title border-bottom">Translate</h3>
            {% endif %}

            {% if terjemahan %}
            <p class="card-text" style="font-size : 18px;">{{terjemahan}}</p>
            {% else %}
            <p class="card-text">
                
            </p>
            {% endif %}
        </div>
    </div>

{% endblock content %}

    